// 	Load foundation
@import 'start';

//	Layout
* {
	box-sizing: border-box;
}

body {
	.landing-page {
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		line-height: 1.3em;
		font-weight: 300;
		background: #fff;
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Droid Serif', serif;
			font-weight: 400;
		}
	}
}



// Header
header {
	padding: 15px 0;
	min-height: 55px;
	line-height: 55px;
	p {
		margin: 0;
		img.alignleft, img, img.alignright, img.aligncenter {
			margin: 0;
			padding: 0;
		}
	}
	.menu {
		padding: 0;
		margin: 0;
		text-align: right;
		li {
			display: inline-block;
			a {
				padding: 10px 10px;
				text-decoration: none;
				font-weight: lighter;
				font-size: 13px;
				&:hover {
					background: rgba(0,0,0,0.1);
					border-radius: 4px;
				}
			}
		}
	}
}
.header-content-btn-cta2 {
	.btn-cta, input[type=submit], button[type=submit] {
		background: transparent;
		border-style: solid;
		border-width: 2px;
		transition: all 0.25s ease-in-out;
		border-radius: 40px;
		margin: 35px auto 0;
		display: block;
		&:hover {
			//box-shadow: 0 5px 5px rgba(0,0,0,0.15);
		}
	}
}
.header-content {
	padding: 20px 0;
	h1 {
		margin: 25px 0 35px;
		font-size: 36px;
		font-weight: lighter;
	}
	p {
		font-size: 16px;
	}

	.wpcf7 {
		input[type=text], input[type=email], input[type=number], textarea  {
			background: rgba(255, 255, 255, 0.7);
			border: none;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
			padding: 8px 5px;
			font-size: 14px;
			font-family: 'Lato', sans-serif !important;
			border-radius: 3px;
			transition: all 0.25s ease;
			&:focus {
				background: rgba(255, 255, 255, 0.9);
				box-shadow: 0 0 6px rgba(0,0,0,0.15);
			}
		}
		p {
			margin: 0 0 10px 0;
		}
	}
}

.presentation {
	padding: 40px 0;
	font-size: 16px;
	p:last-child {
		margin-bottom: 0;
	}
}

.benefits {
	h2, h3, h4 {
		font-size: 24px;
		margin: 1em 0;
		font-weight: 700;
	}
}

.benefits, .testimonial {
	padding: 25px 0;
	font-size: 16px;
}

.testimonial {
	padding: 40px 0 20px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		border-top-width: 1px;
		border-top-style: solid;
		left: 50%;
		width: 50%;
		margin-left: -25%;
		border-color: rgba(0,0,0,0.1);
	}
}

.footer {
	padding: 15px 0;
	font-size: 12px;
}
